body {
  background-color: #EAF6F6;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  margin-top: 50px;
  margin-bottom: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625em;
  color: #66BFBF;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  /*font-weight: normal;*/
}


h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  padding-right: 2em;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

hr{
  width: 3%;
  border: dotted 6px #EAF6F6;
  border-bottom: none;
  margin: 5em auto;

}

.contact-msg{
  width: 40%;
  margin: auto;
  padding-bottom: 2em;
}


p {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  line-height: 2;
}


/******************************CLASS SELECTORS************************************/
.top-container {
  position: relative;
  padding-top: 125px;
  background-color: #EAF6F6;

}

.middle-container {
padding: 2em;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 2em;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 250px;
  top: 70px;
}

.bottom-cloud {
  position: absolute;
  bottom: 280px;
  left: 250px
}
.bottom-cloud-right {
  position: absolute;
  bottom: 250px;
  right: 470px
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  margin-bottom: 100px ;

}

.code-editor-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.web-dev-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.profile-paragraph{
  width: 30%;
  margin: 0 auto;
}


.copyrights-paragraph{
  color: #EAF6F6;
  margin: 0;
  padding-bottom: 2em;
  font-size: 0.75rem;
}

.footer-link{
  color: #11999E;
  line-height: 5;
}

.top-designation{
  margin-top: 0;
}


.btn {
  margin: 100px auto;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}


@media (max-width:960px) {
/*
.top-container {
  height:  100vh;
} */

.top-cloud {
  right: 20%;
}

.title-name {
margin-top: 25%;
}

.bottom-cloud {
  left: 10%;
  bottom: 40%;
}


.mountain {
  height: 65vh;
 width: 100%;
}


.profile-pic {
  width: 60%;
}

.hello {
  font-size: 5rem;
}

.profile-paragraph {
  font-size: 3rem;
  width: 70%;
}

.my-skills {
  font-size: 4.45rem;
}

.skill-row{
  width: 70%;
  text-align: center;
}

.code-editor-img {
  width: 70%;
  float: none;
  margin-right: 0;
}

.web-dev-img {
  width: 70%;
  float: none;
margin-left: 0;
}

.skill1 {
  font-size: 3rem;
}

.skill1-paragraph {
font-size: 2.5rem;
}

.skill2 {
  font-size: 3rem;
}

.skill2-paragraph {
font-size: 2.5rem;
}

.contact-me {
  width: 100%;
}

}
